@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
  --green-color: rgb(120, 211, 106);
  --light-green-color: rgb(252, 255, 244);
}

* {
  font-family: 'Inter', sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  pointer-events: none;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}