section.section-2 {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

section.section-2 .centered-container {
  width: calc(100% - 292px);
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

section.section-2 .h1-container {
  margin-bottom: 80px;
}

section.section-2 .h1-container h1 {
  font-weight: 700;
  font-size: 64px;
  margin: 0;
  color: var(--green-color);
  line-height: 110%;
}

section.section-2 .flex-container {
  display: flex;
  gap: 100px;
}

section.section-2 .box {
  height: 240px;
  border-radius: 48px;
  padding: 60px 24px 20px 24px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  background-color: white;
  border: 5px solid var(--green-color);
  box-shadow: none;
  color: var(--green-color);
}

.box-icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
  flex-shrink: 0;
  margin-bottom: 20px; 
}

.box-text {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  line-height: 120%;
  margin: 0;
  display: block; 
}