section.section-3 {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

section.section-3 .section-3-container {
  position: absolute;
  width: calc(100% - 292px);
  height: 970px;
  top: 133px;
  left: 138px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

/* Заголовок */
section.section-3 .section-3-h1-container {
  width: 100%;
  height: 97px;
  display: flex;
  align-items: center;
}

section.section-3 .section-3-h1-container h1 {
  font-weight: 700;
  font-size: 64px;
  color: var(--green-color);
  margin: 0;
}

/* Основной контейнер с 2 блоками */
section.section-3 .section-3-main-info-container {
  width: 100%;
  height: 709px;
  display: flex;
  gap: 24px;
}

/* Левый блок */
/* ... остальные стили без изменений ... */

/* Левый блок */
section.section-3 .logo-and-text-container {
  flex: 1;
  background-color: var(--light-green-color);
  border-radius: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Контейнер по центру */
section.section-3 .content-container {
  width: calc(100% - 90px);
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Логотип сверху */
section.section-3 .logo-container {
  /* будет логотип */
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 20px;
}

/* Текст снизу */
section.section-3 .text-container {
  text-align: center;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  color: var(--green-color);
}

/* Правый блок */
section.section-3 .picture-container {
  flex: 1;
  background-color: rgb(213, 213, 213);
  border-radius: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}