section.section-3 {
  width: 100%;
  min-height: 100vh;
  margin-top: 150px; 
  padding-top: 100px; 
  padding-bottom: 160px;
  background-color: var(--green-color);
  display: flex;
  justify-content: center;
}

section.section-3 .section-3-container {
  width: calc(100% - 292px);
  display: flex;
  flex-direction: column;
  gap: 80px; 
}

section.section-3 .section-3-h1-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

section.section-3 .section-3-h1-container h1 {
  font-weight: 700;
  font-size: 83px; 
  color: white;
  margin: 0;
  text-align: center;
  line-height: 1;
}

.underline-img {
  width: 100%;
  max-width: 600px;
}

section.section-3 .section-3-main-info-container {
  width: 100%;
  min-height: 710px;
  display: flex;
  gap: 24px;
}

section.section-3 .logo-and-text-container {
  flex: 1;
  background-color: white;
  border-radius: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
}

section.section-3 .content-container {
  width: calc(100% - 120px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
}

.logo-wrapper {
  width: 100%;
}

.content-logo {
  width: 100%;
  height: auto;
  object-fit: contain;
}

section.section-3 .text-container {
  text-align: left;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.4;
  color: var(--green-color);
}

section.section-3 .picture-container {
  flex: 1;
  background-color: #D5D5D5; 
  border-radius: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--green-color);
  font-size: 24px;
}