section.section-3 {
  width: 100%;
  min-height: 70vh;
  margin-top: 105px; 
  padding-top: 70px; 
  padding-bottom: 112px;
  background-color: var(--green-color);
  display: flex;
  justify-content: center;
}

section.section-3 .section-3-container {
  width: calc(100% - 200px);
  display: flex;
  flex-direction: column;
  gap: 56px; 
}

section.section-3 .section-3-h1-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10.5px;
}

section.section-3 .section-3-h1-container h1 {
  font-weight: 700;
  font-size: 58px; 
  color: white;
  margin: 0;
  text-align: center;
  line-height: 1;
}

.underline-img {
  width: 100%;
  max-width: 420px;
}

section.section-3 .section-3-main-info-container {
  width: 100%;
  min-height: 497px;
  display: flex;
  gap: 16.8px;
}

section.section-3 .logo-and-text-container {
  flex: 1;
  background-color: white;
  border-radius: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 42px 0;
}

section.section-3 .content-container {
  width: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 28px;
}

.logo-wrapper {
  width: 100%;
}

.content-logo {
  width: 100%;
  height: auto;
  object-fit: contain;
}

section.section-3 .text-container {
  text-align: left;
  font-weight: 400;
  font-size: 22.4px;
  line-height: 1.4;
  color: var(--green-color);
}

section.section-3 .picture-container {
  flex: 1;
  background-color: #D5D5D5; 
  border-radius: 44.8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--green-color);
  font-size: 16.8px;
}

@media (max-width: 1024px) {
  section.section-3 .section-3-main-info-container {
    flex-direction: column;
    min-height: auto;
  }

  section.section-3 .section-3-container {
    width: calc(100% - 60px);
  }

  section.section-3 .picture-container {
    min-height: 300px;
  }
}

@media (max-width: 768px) {
  section.section-3 .section-3-h1-container h1 {
    font-size: 26px;
  }

  section.section-3 .text-container {
    font-size: 13px;
  }
  
  section.section-3 .logo-and-text-container {
    border-radius: 30px;
  }

  section.section-3 .content-container {
    width: calc(100% - 50px);
  }
}