.section-4 {
  padding-bottom: 140px;
  position: relative;
  overflow: hidden;

  &__container {
    width: calc(100% - 322px);
    margin: 120px auto 0;
    display: flex;
    flex-direction: column;
    @media (max-width: 1300px) {
      width: calc(100% - 80px);
    }
  }

  &__title {
    font-size: 45px;
    line-height: 1.2;
    color: var(--green-color);
    font-weight: 700;
    margin: 0 0 28px;
    @media (max-width: 1300px) {
      font-size: 30px;
    }

    @media (max-width: 1100px) {
      font-size: 18px;
    }
  }

  &__carousel {
    position: relative;
    width: 100%;
    margin-top: 20px;
  }

  &__carousel-bg-flower {
    position: absolute;
    top: -224px;
    right: -126px;
    width: 560px;
    z-index: 1;
    pointer-events: none;
    transform: rotate(-30deg);
  }

  &__carousel-main {
    height: 420px;
    border: 5px solid var(--green-color);
    border-radius: 45px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    @media (max-width: 1100px) {
      height: auto;
      padding: 40px 0;
    }
  }

  &__carousel-slide {
    width: calc(100% - 224px);
    margin: 0 auto;
    display: flex;
    gap: 34px;
    align-items: center;
    animation: fadeIn 0.8s ease-in-out;
    @media (max-width: 1100px) {
      flex-direction: column;
      width: calc(100% - 40px);
      text-align: center;
    }
  }

  &__carousel-picture {
    width: 100%;
    max-width: 665px;
    height: 336px;
    border-radius: 17px;
    background-color: #d9d9d9;
    flex-shrink: 1;
    @media (max-width: 1300px) {
      max-width: 500px;
    }

    @media (max-width: 1100px) {
      height: 250px;
    }
  }

  &__carousel-content {
    flex: 1;
    text-align: left;
    color: #000;
  }

  &__carousel-title {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;
    @media (max-width: 1100px) {
      font-size: 14px;
      text-align: center;
    }
  }

  &__carousel-text {
    font-weight: 300;
    font-size: 17px;
    line-height: 1.4;
    @media (max-width: 1100px) {
      font-size: 12px;
    }
  }

  &__carousel-paragraph {
    margin-bottom: 14px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 56px;
    height: 56px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;

    &::before {
      content: "";
      position: absolute;
      width: 28px;
      height: 28px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &_left {
      left: 28px;
      &::before {
        border-left: 6px solid var(--green-color);
        border-bottom: 6px solid var(--green-color);
        border-radius: 0 0 0 8px;
      }
    }

    &_right {
      right: 28px;
      &::before {
        border-right: 6px solid var(--green-color);
        border-top: 6px solid var(--green-color);
        border-radius: 0 8px 0 0;
      }
    }

    @media (max-width: 1100px) {
      width: 30px;
      height: 30px;
      top: 320px;

      &::before {
        width: 14px;
        height: 14px;
        border-width: 4px;
      }
    }
  }

  &__carousel-nav {
    display: flex;
    gap: 7px;
    justify-content: center;
    margin-top: 21px;
  }

  &__carousel-dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #dadada;
    border: none;
    cursor: pointer;

    &_active {
      background-color: var(--green-color);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}